body {
  padding: 15px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(130, 129, 144) 0%,
    rgb(185, 185, 208) 41%,
    rgb(187, 204, 211) 87%,
    rgb(175, 208, 214) 100%
  );
}
.movie-container {
  border-radius: 1px;
  width: 22rem;
  background: rgb(169, 167, 191);
  background: radial-gradient(
    circle,
    rgba(169, 167, 191, 1) 0%,
    rgba(236, 193, 193, 1) 100%,
    rgba(135, 226, 245, 1) 100%,
    rgba(83, 187, 132, 1) 100%
  );
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.75);
}
.movieList {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 10px;
  justify-items: center;
}
.movie-container:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.add-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.listItems {
  display: flex;
}
.textField {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
  align-content: space-between;
}

.pic {
  width: 13rem;
  height: 20rem;
  /* object-fit: cover; */
}
.det {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter-Container {
  display: flex;
  justify-content: space-between;
  padding: 0px 7px;
  gap: 10px;
  /* padding-bottom: 10px;; */
}
.counter-Container > button {
  font-size: 1rem;
}

h2 {
  font-family: roboto;
  font-style: normal;
  padding-left: 5px;
}
.movie-summary {
  font-family: cursive;
  padding-top: 0px;
  font-size: 13px;
}
.rating {
  font-size: 1rem;
  font-weight: bold;
  font-family: monospace;
  padding-right: 5px;
}
.btn {
  padding-top: 10px;
}
h1 {
  text-align: center;
  font-family: monospace;
  font-style: italic;
  font-size: 2rem;
  color: rgb(230, 30, 30);
}
.listItems {
  background-color: rgb(128, 128, 122);
  width:100%;
}

nav ul {
  display: flex;
}
nav li {
  flex: auto;
  margin: 10px 10px;
  font-family: roboto;
  font-size: 1rem;
}
.color {
  margin: 1rem auto;
}
.notFound{
  text-align: center;
  font-size: 5rem;
}
.notFound>h2{
margin: 0;
}
.notFoundImg{
  width: 100%;
  max-width: 55rem;
}
.movie-details-container{
  max-width: 60rem;
}
.navBar{
  padding-bottom: 3rem;
}

.game-box{
  height:8rem;
  width:8rem;
  border:3px solid black ;
  border-radius:2px;
  background-color:rgb(196, 15, 157);
  font-size: 7rem;
  display:flex ;
  justify-content: center;
  align-items: center;
}
.game-box:hover{
  cursor: pointer;
  background-color:rgb(172, 67, 149);
}
.board{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  width:min-content;
}
.game{
  margin-top:5rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.winner-text{
  font-size: 2rem;
  font-family:monospace;
  
  font-weight: bold;
  font-style: italic;
}
.winner-{
  font-size:2.3rem;
  color:red;
  font-style: bold;
}
