body{
  padding: 15px;
}
.Movie{
 
  width:22rem;
  background-color: rgb(199, 237, 240);
  justify-content: center;
  text-align:center;
  
}
.movieList{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(340px,1fr)) ;
  gap:10px;
  justify-items: center;
}
.pic{
  width:22rem;
  height: 40rem;
  object-fit: cover;
}
.det{
  display:flex;
  align-items: center;
    justify-content: space-between;
}
