*{
  margin: 0;
  padding: 0;
}
.movie-container {
  border-radius: 10px;
  width: 22rem;
  /* background: rgb(169, 167, 191);
  background: radial-gradient(
    circle,
    rgba(169, 167, 191, 1) 0%,
    rgba(236, 193, 193, 1) 100%,
    rgba(135, 226, 245, 1) 100%,
    rgba(83, 187, 132, 1) 100%
  ); */
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 24px 1px rgba(71, 71, 71, 0.75);
  -webkit-box-shadow: 0px 0px 24px 1px rgba(76, 75, 75, 0.75);
  -moz-box-shadow: 0px 0px 24px 1px rgba(130,130,130,0.75);
}

.movieList {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 10px;
  justify-items: center;
}
.movie-container:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.add-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.listItems {
  display: flex;
}
.textField {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
  align-content: space-between;
}

.pic {
  width: 13rem;
  height: 20rem;
  /* object-fit: cover; */
}
.det {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter-Container {
  display: flex;
  justify-content: space-between;
  padding: 0px 7px;
  gap: 10px;
  /* padding-bottom: 10px;; */
}
.counter-Container > button {
  font-size: 1rem;
}


.movie-summary {
  font-family: cursive;
  padding-top: 0px;
  font-size: 13px;
}
.rating {
  font-size: 1rem;
  font-weight: bold;
  font-family: monospace;
  padding-right: 5px;
}
.btn {
  padding-top: 10px;
}

.listItems {
  background-color: rgb(128, 128, 122);
  width:100%;
}

nav ul {
  display: flex;
}
nav li {
  flex: auto;
  margin: 10px 10px;
  font-family: roboto;
  font-size: 1rem;
}
.color {
  margin: 1rem auto;
}
.notFound{
  text-align: center;
  font-size: 5rem;
}
.notFound>h2{
margin: 0;
}
.notFoundImg{
  width: 100%;
  max-width: 55rem;
}
.movie-details-container{
  max-width: 60rem;
}
.navBar{
  padding-bottom: 5rem;
}

.game-box{
  height:8vw;
  width:8vw;
  border:3px solid black ;
  border-radius:20px;
  background-color:rgb(196, 15, 157);
  font-size: 7rem;
  display:flex ;
  justify-content: center;
  align-items: center;
}
.game-box:hover{
  cursor: pointer;
  background-color:rgb(172, 67, 149);
}
.board{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  width:min-content;
}
.game{
  margin-top:1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.winner-text{
  font-size: 2rem;
  padding: 20px;
  font-family:monospace;
  
  font-weight: bold;
  font-style: italic;
}
.winner-{
  font-size:2.3rem;
  color:red;
  font-style: bold;
}
.status{
  font-size:2rem;
  margin-bottom: 1rem;
  font-family:roboto;
  font-weight:400;
  font-style: italic;
  color:rgb(255, 123, 0);
}


.text-shine{
  
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgb(250, 8, 8), rgb(149, 116, 116), rgb(221, 255, 0));
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  
  
}

.slideInLeft {
  
  font-size:2rem ;
  color:rgb(245, 7, 114);
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-3000px, 0, 0);
  transform: translate3d(-3000px, 0, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(25px, 0, 0);
  transform: translate3d(25px, 0, 0);
  }
  75% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  90% {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
  }
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-3000px, 0, 0);
  transform: translate3d(-3000px, 0, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(25px, 0, 0);
  transform: translate3d(25px, 0, 0);
  }
  75% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  90% {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
  }
  100% {
  -webkit-transform: none;
  transform: none;
  }
  } 
